selenium
airtest-selenium
airtest
pytest
pytest-html
pytest-rerunfailures
unittest2
PyMySQL
pywin32
pyyaml
configparser
pytest-assume
pytest-xdist
pandas
numpy
pocoui
pocounit
allure-pytest
requests
redis